.custom-datepicker {
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    color: #000000;
    font-size: 14px;
    z-index: 1000;
    margin-top: 7px;
    
  }